.Smile {
  min-width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

h3 {
  color: #000;
  font-size: 5rem;
  margin: 0 0 20px;
}

h4 {
  font-size: 2rem;
  color: #556581;
  margin: 0 0 20px;
}

button {
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #2a9d8f;
  color: #fff;
  transition: all 0.05s ease-in-out;
}

button:hover {
  transform: translateY(-2px);
}

button:active {
  transform: translateY(2px);
  box-shadow: none;
}
